/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    height: 100%;
    width: 100%;
    /*
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/*
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
*/

hr {
    border-color: #57ad68;
    border-width: 3px;
    max-width: 50px;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    /* background-color: #57ad68; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 600;
}

h2 {
    font-size: 2em;
}

hr {
    border-width: 3px;
    max-width: 50px;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #57ad68;
    text-decoration: none; }
    a:hover, a:focus {
        color: #458c53;
    }

p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

nav {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 700;
    color: #777;
    border-bottom: black solid 1px;
}
/*
a:hover {
    color: white;
    text-decoration: none;
}
*/
.navbar-brand {
    color: rgba(255, 255, 255, 0.7);
}

.nav-item {
    margin-left: 15px;
}

.nav-item a {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7); }
    .nav-item a:focus,
    .nav-item a:hover {
        color: white;
        text-decoration: none;
}

figure {
    margin: 0;
}

figure.portrait {
    float: right;
    width: 50%;
    height: 355px;
}

figure.portrait img {
    border-bottom: 1px solid #efefef;
    width: 100%;
}

figure.portrait p {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 90%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

header {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../img/collinsbw.jpg");
}

header .header-content {
    position: absolute;

    top: 50%;
    width: 100%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    margin-left: auto;
    margin-right: auto;

    color: #333;
    background: rgba(0, 0, 0, 0.5);

    text-align: center;
}

header .header-content .header-content-inner {
    padding: 2% 0%;
    text-align: center;
}

header.inner .header-content .header-content-inner {
    padding: 0;
}

header.inner {
    position: relative;
    height: 360px;
}

header.inner .header-content {
    position: absolute;
    top: 312px;
    width: 100%;
}

header.inner .header-content .header-content-inner h1 {
    padding: 0.25em;
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .header-content-inner h1 {
    color: white;
    text-shadow: none;
    padding: 0.25em;
    font-size: 4em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

hr.hello, hr.roles, hr.contact {
    border-color: #57ad68;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;

    padding: 15px 30px;
}

#btn_about {
    background-color: #57ad68;
    border-color: #57ad68;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* about section */

#about {
    background-color: #57ad68;
}

hr.about {
    border-color: white;
}

p.about {
    margin-bottom: 20px;
}

.about {
    color: white;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

#btn_story {
    background-color: white;
    border-color: white;
    color: black;
}

#roles {

}

h2.roles {
    margin-top: 50px;
}

.bg-dark {
    background-color: #222;
    color: white;
}

aside {
    padding: 50px 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.oss-love strong {
    font-size: 2em;
}

.btn-default {
    color: #222;
    background-color: white;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
    color: #222;
    background-color: #f2f2f2;
    border-color: #ededed;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
    background-image: none;
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white;
}

.btn-default .badge {
    color: white;
    background-color: #222;
}

.btn-primary {
    color: white;
    background-color: #57ad68;
    border-color: #57ad68;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
    color: white;
    background-color: #4d9e5d;
    border-color: #4a9759;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: white;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
    background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #57ad68;
    border-color: #57ad68;
}

.btn-primary .badge {
    color: #57ad68;
    background-color: white;
}

/* contact */

.fa-3x {
    color: #222;
    font-size: 4em;
}

#cicons {
    margin-top: 50px;
}

#contact div div div a p {
    font-size: 1.25em;
    color: #57ad68;
}

#content ul {
    font-size: 1.1em;
}

.footnote {
    font-size: 1em;
    color: #cecece;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
